<p id="notice"><%= notice %></p>

<p>
  <strong>List Name:</strong>
  <%= @line_item.glist.name %>
</p>

<p>
  <strong>Item Name:</strong>
  <%= @line_item.item.name %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
